/* This is my first proper css file */

body{
    background-color: rgb(90, 20, 90);
    max-width: 400px;
    margin: auto;
}


h1{color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
h3{
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

p{
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}


